//- SEO
meta(name="description" content="Loftschool второй выпусной проект")
meta(name="keywords" content="Loftschool, homework, выпускной проект №2")
meta(name="author" content="Максим Рощин")

//- Bower CSS
// build:css css/vendor.min.css 
// bower:css 
link(rel="stylesheet" href="bower/normalize-css/normalize.css")
// endbower 
// endbuild 

//- Main CSS
// build:css css/main.min.css 
link(rel="stylesheet" href="css/main.css")
// endbuild 

//- Bower JS
// build:js js/modernizer.min.js
// bower:js 
script(src="bower/modernizer/modernizr.js")
// endbower 
// endbuild 