.breadcrumbs {
	margin-bottom: 27px;

	&__cat-list {
		@include clearfix;
	}
	&__cat-item {
		float: left;
		&:before {
			content: ">";
			margin: 0 4px;
		}

		&:first-child {
			&:before {
				display: none;
			}
		}
	}

	&__cat-link {
		text-decoration: none;
		color: $main_orange;
		font-size: $font-size_main;
		color: $main_grey;

		&_active{
			color: $main_orange;
			text-decoration:underline;
			

		}
	}
}
.headline {
	font-size: $font-size_main + 6;
	font-family: $font-bold;
	color: $main_grey;
	padding: 0;
	margin: 0;
	margin-bottom: 34px;
}