.nav {
	background: $main_white;
	border-bottom:2px solid $main_border;
	margin-bottom: 28px;
	.container {
		text-align: center;
	}

	&__list {
		@include inlineblock;
		@include clearfix;
	}

	&__item {
		float: left;
		@include transition(.4s);
		
		&:not(.nav__item_active):hover {
			background: #e4e2e2;
		}
	}

	&__link {
		display:block;
		height:52px;
		line-height:52px;
		padding:0 16px;
		font-size: $font-size_main +2;
		color: $main_grey;
		text-decoration:none;

		&_active {
			color: $main_white;
			background: $main_orange;
		}
	}
}
