.products__list {
	background:$main_white;
	border:1px solid $main_border-grey;
	@include border-radius ($radius: 5px);
	overflow: hidden;
}
.products__item {
	border-top: 1px solid $main_border-grey;

	&:first-child {
		border-top:none;
	}

	&:hover {
		@include box-shadow (0 0 10px 0.5 rgba(118, 118, 118, 0.75));
	}
}

.products__item-inner {
	padding: 19px 22px;
	@include clearfix;
	position: relative;
}

.products__left {
	float:left;
}

.products__slideshow {
	width: 140px;
	float:left;
	// margin-bottom: 15px;	
}

.products__slideshow-display {
	margin-bottom: 12px;
}

.products__slideshow-display-link {
	width: 136px;
	height: 136px;
	background:$main_white;
	border: 1px solid $main_border-grey;
	@include border-radius ($radius: 2px);
	overflow:hidden;
	position: relative;
	display: block;
	margin-bottom: 15px;	 
}

.products__slideshow-display-img {
	display:block;
	width: 100%;
	@include center;
}

.products__slideshow-list {
	@include clearfix;
	margin-left: -15px;
}

.products__slideshow-item {
	float:left;
	margin-left: 15px;
}

.products__slideshow-link {
	@extend .products__slideshow-display-link;
	position: relative;
	width: 34px;
	height: 34px;
	margin-bottom: 0;
	&:hover {
		border-color: $main_orange;
	}
}

.products__slideshow-item-img {
	@include center;
	display:block;
	width: 100%;
}

.products__article {
	text-align:center;
	font-family: $font-semibold;
}

.products__article-text {
	@include inlineblock(middle);
	color: #7f7f7f;
	font-size: $font-size_main - 2px;
	line-height:$font-size_main + 4px;
}

.products__article-number {
	@include inlineblock(middle);
	line-height:$font-size_main + 2px;
	color: #000;
}

.products__desc {
	float:left;
	max-width: 385px;
	margin-left: 22px;
}

.products__desc-title {
	font-family: $font-bold;
	line-height: $font-size_main + 2px;
	color: #010101;
	margin-bottom: 24px;
	padding-top: 9px;
}
.products__desc-list {
	margin-bottom: 14px;
}

.products__desc-item {
	display:inline;
}

.products__desc-left{
	display:inline;
	line-height:$font-size_main + 2px;
}

.products__desc-right {
	@extend .products__desc-left;
}

.products__rating-list {
	@include inlineblock(middle);
}

.products__rating-item {
	@include inlineblock(middle);
	width: 17px;
	height: 16px;
}

$rating-map: sprite-map('elements/*.png', $spacing: 70px);

.products__rating-item {
	@include get-sprite($rating-map, star,$height: false, $width: false);

	&.products__rating-item_active {
		@include get-sprite($rating-map, star_active);
	}
}

.products__rating-status {
	@include inlineblock(bottom);
	text-align:center;
	font-size:$font-size_main - 2;
	font-family: $font-semibold;
	margin-left: 11px;
	@include border-radius ($radius: 10px);
	width: 27px;
	height: 15px;
	line-height: 15px;
	background:#b5beca;
	color:#fbfbfb;
}

.products__right {
	position: absolute;
	top: 22px;
	bottom: 22px;
	right: 22px;
	width: 125px;
	text-align:right;
}

.products__info-top {
	padding-left: 23px;
	border-left: 1px solid $main_border-grey;
	height:100%;
}

.products__price {
	font-size:$font-size_main + 6px;
	line-height: $font-size_main + 8px;
	font-family: $font-bold;
	color: $main_grey; 
}

.products__info-bottom {
	position: absolute;
	bottom: 0;
	right:0;
}

.products__btn {
	@include inlineblock();
	text-decoration: none;
	@include border-radius ($radius: 5px);
	padding: 7px 13px;
	background: #ff6600;
	color: $main_white;
	font-family: $font-bold;
	margin-bottom: 10px;
}

.products__existence {
	font-size:$font-size_main - 2;
	line-height: $font-size_main + 2px;
	color: #7f7f7f;
	font-family: $font-bold;

	&:before {
		content: "";
		@include inlineblock(middle);
		@include border-radius ($radius: 50%);
		background: #60ac49;
		width: 7px;
		height: 7px;
		margin-right: 8px;
	}
}