.headline {
	font-size: $font-size_main + 6px;
	line-height:22px;
	font-family: $font-bold;
	color: $main_grey;
	padding: 0;
	margin: 0;
	margin-bottom: 34px;
}

.content {
	float:right;
	width: 742px;
	@include clearfix;
}

.sort {
	background:#e4ebee;
	color: #5d656c;
	border:1px solid $main_border-grey;
	box-sizing:border-box;
	margin-bottom: 21px;
	@include border-radius ($radius: 5px);
	overflow: hidden;
	@include clearfix;
}

.sort__left {
	float:left;
}

.sort__title {
	@include inlineblock(middle);
	padding:15px 10px 17px 22px;
}
.sort__title_view {
	padding-right:14px;
}
.sort__select {
	@include inlineblock(middle);
}

.sort__select-item {
	width: 143px;
	height: 28px;
}

.sort__right {
	float:right;
}

.sort__view {
	@include inlineblock(middle);
}

.sort__view-list {
	@include clearfix;
}

.sort__view-item {
	float:left;
	border-left:1px solid $main_border-grey;
}

.sort__view-link {
	position: relative;
	height: 51px;
	width: 50px;
	display:block;
	text-indent:-9999px;
	}

.sort__view {
	@include clearfix;
}

.sort__view-icon {
	@include center;
}

$views-map: sprite-map('icons/views/*.png', $spacing: 70px);

@each $item in $views {
	.sort__view-item_#{$item} {
		.sort__view-icon{

			@include get-sprite($views-map, $item);
		}

		&:hover {
			$views_hover: $item + '_hover';
			.sort__view-icon {
				@include get-sprite($views-map, $views_hover);
			}
		}

		&.active {
			$views_hover: $item + '_hover';
			.sort__view-icon {
				@include get-sprite($views-map, $views_hover);
			}
		}
	}
}
	

				